@model Inventory.Models.barang

@{
    ViewBag.Title = "Barang";
}
<h3>Tambah Barang</h3>

@using (Html.BeginForm("AddBarang", "Barangs", FormMethod.Post))
{
<div class="container">
    <div class="form-group">
        <label>Nama Barang</label>
        @Html.TextBoxFor(x => x.nama_barang, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Deskripsi</label>
        @Html.TextAreaFor(x => x.nama_barang, new { @class = "form-control", @rows = "10" })
    </div>

    <div class="form-group">
        <label>Stock</label>
        @Html.EditorFor(x => x.jumlah, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label>Harga</label>
        @Html.EditorFor(x => x.harga, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label>Aktif</label>
        @Html.EditorFor(x => x.harga, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
            <button type="submit" class="btn-primary">Tambah</button>
            <button type="submit" class="btn-danger">Cancel</button>
    </div>

</div>
}

